.LocationMap {
  margin-top: 20px;
}

.LocationMap .filters {
  margin-bottom: 20px;
}

.LocationMap .infoBox {
  background-color: white;
  padding: 5px;
}

.category-selector {
  padding: 5px;
  cursor: pointer;
  color: #2387C2;
  margin-right: 20px;
  margin-left: 15px;
}

.category-selector:hover {
  color: #005596;
}

.category-selector.selected {
  border: 1px solid #2387C2;
}
